<script language="JavaScript" type="text/javascript">
function UserLogout() {
	path = window.location.protocol+"//dummy:dummy@"+window.location.host+""+window.location.pathname+'?'+Math.random()*11;
	try{
		var agt=navigator.userAgent.toLowerCase();
		if (agt.indexOf("msie") != -1) {
			// IE clear HTTP Authentication
			document.execCommand("ClearAuthenticationCache");
		} else {
			var data = $.ajax({
				url : path,
				type: "POST",
				cache: false,
				async: false,
				dataType: "text",
				success : function () { }
			}).responseText;
		}
		location.reload(true);
	} catch(e) { alert(e); }
}
</script>
<div id="logout">
<form action="{thisfile}">
{form}
{submit}
</form>
</div>
